@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<br /> <br />
<div class="container">
    
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control" />
        <br />
        <button class="btn mb-1 btn-rounded btn-outline-primary">Yükle</button>
    </form>

</div>

