
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="theme-name" content="quixlab" />

    <title>Admin</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="~/adminApi/theme/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/adminApi/theme/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/adminApi/theme/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <link href="~/adminApi/theme/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    
    <div id="main-wrapper">

       
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/adminApi/theme/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/adminApi/theme/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
       
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Dashboard/Index">Anasayfa</a></li>
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="/Admin/UserRegister/" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Kullanıcı Tanımlama</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Rol İşlemleri</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Role/Index">Role Listesi</a></li>
                        </ul>
                        <ul aria-expanded="false">
                            <li><a href="/Role/AddRole">Role Tanımlama</a></li>
                        </ul>
                        <ul aria-expanded="false">
                            <li><a href="/RoleAssign/Index">Kullanıcı Listesi</a></li>
                        </ul>
                    </li>
                  
                </ul>
            </div>
        </div>
        
        <div class="content-body">

           @RenderBody()

        </div>
        
    </div>
    
    <script src="~/adminApi/theme/plugins/common/common.min.js"></script>
    <script src="~/adminApi/theme/js/custom.min.js"></script>
    <script src="~/adminApi/theme/js/settings.js"></script>
    <script src="~/adminApi/theme/js/gleek.js"></script>
    <script src="~/adminApi/theme/js/styleSwitcher.js"></script>

    <script src="~/adminApi/theme/plugins/chart.js/Chart.bundle.min.js"></script>
    <script src="~/adminApi/theme/plugins/circle-progress/circle-progress.min.js"></script>
    <script src="~/adminApi/theme/plugins/d3v3/index.js"></script>
    <script src="~/adminApi/theme//plugins/topojson/topojson.min.js"></script>
    <script src="~/adminApi/theme/plugins/datamaps/datamaps.world.min.js"></script>
    <script src="~/adminApi/theme/plugins/raphael/raphael.min.js"></script>
    <script src="~/adminApi/theme/plugins/morris/morris.min.js"></script>
    <script src="~/adminApi/theme/plugins/moment/moment.min.js"></script>
    <script src="~/adminApi/theme/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <script src="~/adminApi/theme/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/adminApi/theme/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="~/adminApi/theme/js/dashboard/dashboard-1.js"></script>

</body>

</html>

